body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: brown;
}

#mainContainer {
    width: 1050px;
    margin: 0 auto;
    margin-top: 2em;
}

ul {
    margin: 0;
}

nav li {
    display: inline-block;
    background-color: lightcyan;
    opacity: 0.5;
    padding: 4px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.activeTab {
    background-color: #f5f5f5;
    border: solid 1px #e3e3e3;
    border-bottom: 0px;
    opacity: 1;
    position: relative;
    z-index: 10;
}

nav li:hover {
    opacity: 1;
    cursor: pointer;
}

nav li:active {
    position: relative;
    top: 1px;
}

.bio {
    position: relative;
    top: -1px;
    padding: 8px;
    background-color: #f5f5f5;
    overflow: hidden;
    border-radius: 4px;
    border: solid 1px #e3e3e3
}

.bio img {
    border-radius: 4px;
    box-shadow: darkgray 2px 2px 3px;
    animation: fadein 2s;
}

.info {
    margin-left: 8px;
    display: inline-block;
    vertical-align: top;
    color: dimgray;
}

.biolist {
    margin-bottom: 0px;
}

.bioTitle {
    font-weight: bold;
    padding-right: 0.3em;
}

.inactiveBio {
    display: none
}

#customSearchContainer {
    width: 300px;
    margin: auto;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

